body {
  background-color: black;
  color: #ffdd44;
  font-family: monospace;
}

input {
  background-color: black;
  color: #ffdd44;
  border-color: #3A3311;
  font-family: monospace;
}

form.inline { display: inline }

span {
  margin-right: 5px;
}

span.bright {
  color: #ffff88;
}

span.toggle:hover {
  background-color: #7f6e22;
}

li {
  padding: 2px;
}

ul ul {
  padding-top: 0px;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}
