body {
  background-color: black;
  color: #ffdd44;
  font-family: monospace;
}

span {
  margin-right: 5px;
}

span.toggle:hover {
  background-color: #7f6e22;
}

li {
  padding: 2px;
}

ul ul {
  padding-left: 20px;
}

ul {
  list-style-type: disc;
}
